.scroll_navi {
	position: fixed;
	top: 50%;
	right: 5vw;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	gap: 30px;
	z-index: 3;
	li {
		width: 10px;
		height: 10px;
		background-color: #fff;
		border-radius: 5px;

		&.on {
			height: 100px;
			background-color: orange;
		}
	}
}
